<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chesz">
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>

    <application
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="Chesz"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <!-- Requerido por Android 14+ para FOREGROUND_SERVICE_SPECIAL_USE -->
        <property
            android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
            android:value="chess_overlay_bubble" />

        <activity
            android:name=".CapturePermissionActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <service
            android:name=".floating.BubbleService"
            android:foregroundServiceType="mediaProjection|specialUse"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".floating.ChessboardA11yService"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/chesz_a11y_config" />
        </service>

        <activity
            android:name=".MainActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
