name: Build Debug APK

on:
  workflow_dispatch:
  push:
    branches:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - uses: gradle/actions/setup-gradle@v4

      - run: ./gradlew --no-daemon clean assembleDebug

      - uses: actions/upload-artifact@v4
        with:
          name: chesz-debug-apk
          path: app/build/outputs/apk/debug/*.apk
